body {
    font-family: "Lato", sans-serif;
}

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: 100%;
            height: 100px;
            left: 0;
            text-align: center;
        }
    }
  
.bg_red 
{
    background: #F82C38;
    color: #F82C38
}

