.modal_footer {
    display: table;
    width: 100%;
}

.text-center{
    margin: 1em 0;
    margin-top: 0%;
}

.text-center .boton{
    background-color: #ff675c;
    width: 30%;
    height: 120%;
    color: white;
    border-radius: 6px ;
    padding: 10px 1px;
}

    
.wrapper_div {
display: table-cell;
    vertical-align: middle
}   


.text-center .btn-rounded{
    background-color: #17a2b8;
    border-radius: 20px;
    width: 30%;
    color: white;
}

.boton{
    box-shadow: none !important;
}

.nav{
    height: 20px;
}
