body {
    font-family: "Lato", sans-serif;
}

.login-form h2{
    font-family: "Times New Roman", Times, serif;
}

.main-nn{
    margin-top: 25%;
    margin-left: 15%;
    width: 60%;
    align-content: center;
    text-align: center;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-image: url(https://i.pinimg.com/originals/30/d6/29/30d629af09938d2e0b3fd43375e0c0ca.jpg);
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 0px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
        text-align: center;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 50%; 
        align-items: center;
        text-align: center;
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 20%;
        align-items: center;
        align-content: center;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-btn-black{
    background-color: #ff675c !important;
    border-radius: 6px;
    padding: 7px 20px;
    align-content: center;
    color: #fff;
}

.btn-btn-black:hover{
    color: black;
    background-color: #ff675cce;
}

.form-group{
    text-align: center;
    align-content: center;
}

.form{
    align-content: center;
}
