@import url('https://fonts.googleapis.com/css?family=Abel');

html, body {
    font-family: Abel, Arial, Verdana, sans-serif;
}

.center {
  position: absolute;
  top: 30%;
  left: 35%;
 
}

.cardP {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.cardP h1 {
  text-align: center;
}

.cardP .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.cardP.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.cardP:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.cardP .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.cardP .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}


.cardP .additional .user-card svg {
  top: 50%;
}

.cardP .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.cardP .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.cardP.green .additional .more-info h1 {
  color: #224C36;
}

.cardP .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.cardP.green .additional .coords {
  color: #325C46;
}

.cardP .general .coords span + span {
  float: right;
}

.cardP .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}


.cardP .additional .stats > div {
  flex: 1;
  text-align: center;
}

.cardP .additional .stats i {
  display: block;
}

.cardP .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.cardP .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.cardP .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.cardP .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}


.cardP .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.7em;
}

.img-thumbnail{
    width:110px;
    height:110px;
    margin-top: 50%;
}

