
.breadcrumb-item{
    color: rgb(0, 0, 0);
}

.wd_card{
    width: 18rem;
    margin-left: 100px;
}

.botton{
    outline: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
  }


.hola{
    height: 80%;
    width: 100%;
    background-color: blue;
}
